<a href="https://colab.research.google.com/github/coder-manan-aggarwal/deep-learning/blob/main/NER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import spacy
nlp=spacy.load('en_core_web_sm')

In [2]:
doc=nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")
for ent in doc.ents:
  print(ent.text," | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
Twitter Inc  |  PERSON  |  People, including fictional
$45 billion  |  MONEY  |  Monetary values, including unit

In [3]:
from spacy import displacy
displacy.render(doc, style='ent')

In [4]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [6]:
doc = nlp("Michael Bloomberg founded Bloomberg INC in 1982")
for ent in doc.ents:
  print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg INC | ORG | Companies, agencies, institutions, etc.
1982 | DATE | Absolute or relative dates or periods

In [7]:
doc= nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
  print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  PERSON
$45 billion  |  MONEY

In [8]:
type(doc[2:5])

spacy.tokens.span.Span

In [9]:
from spacy.tokens import Span
s1= Span(doc, 0, 1,label="ORG")
s2=Span(doc, 5, 6, label="ORG")

doc.set_ents([s1, s2], default='unmodified')

In [10]:
for ent in doc.ents:
  print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY